<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h4>Login</h4>
    <form action="create-session" method="POST">
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Password" />
      <input type="submit" value="Post" />
    </form>
    <p>
      <a href="auth/google">Google Sign In</a>
    </p>
  </body>
</html>
