<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h4>Login</h4>
    <form action="" method="POST">
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <input type="submit" value="Post" />
    </form>
  </body>
</html>
