<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h4>Registration</h4>
    <form action="/create" method="POST">
      <input type="text" name="name" placeholder="Name" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="password" name="confirm_password" placeholder="Confirm Password" required>
      <input type="submit" value="Post" >
    </form>
  </body>
</html>
